default_language_version:
  python: python3.13

exclude: |
    (?x)^(
        LICENSE|
        .devcontainer/devcontainer.json|
        .github/contributors.json|
        .vscode/launch.json|
    )$

repos:
  - repo: https://github.com/rtts/djhtml
    rev: '3.0.10'
    hooks:
      - id: djhtml
        entry: djhtml --tabwidth 2
        alias: autoformat
      - id: djcss
        alias: autoformat
      - id: djjs
        alias: autoformat
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/asottile/reorder-python-imports
    rev: v3.14.0
    hooks:
      - id: reorder-python-imports