
@import "tailwindcss";

/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

/* @import "flatpickr/dist/flatpickr.min.css"; */

h1 {
  font-weight: bold;
  font-size: 2rem;
  padding-block: 1rem;
}

.content {
  max-width: 960px;
  margin: auto;
}



.form-text-field {
  /* display: block; */
  /* width: 100%; */
  border-radius: 0.375rem;
  border: 1px solid #d1d5db;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
  transition: border-color 0.2s, box-shadow 0.2s;
  background-color: rgb(245, 245, 245);
}
.form-text-field:focus {
  border-color: #6366f1;
  box-shadow: 0 0 0 3px rgba(99,102,241,0.2);
  outline: none;
}


#image-preview-modal {
    display: none;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    position: fixed;
    z-index: 1000;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
    cursor: zoom-out;
}

#image-preview-modal.show {
    display: flex;
    opacity: 1;
}

#image-preview-modal-img {
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 0 10px #000;
    border: 3px solid white;
    border-radius: 4px;
}

/* .flatpickr-calendar {
    z-index: 9999 !important;
    overflow: hidden;
} */

/* @layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities); */


/* @tailwind base;
@tailwind components;
@tailwind utilities;*/

/* @layer base {
  h1 {
    font-size: var(--text-2xl);
  }
  h2 {
    font-size: var(--text-2xl);
  }
}  */