<nav class="py-6 px-12 bg-emerald-700 flex justify-between items-center">

    <a href="/" class="text-white text-lg font-bold">Blogged</a>
    
    <a href="/blog-image-gallery/" class="text-white text-lg font-bold">Image Gallery</a>
    
    <a href="/impact-map/" class="text-white text-lg font-bold">Impact map</a>
    
    <a href="/contact/" class="text-white text-lg font-bold">Contact</a>
    
    {% if user.is_authenticated %}
        <a href="/upload-post/" class="text-white text-lg font-bold">Upload Post</a>
    {% endif %}
    
    {% if user.is_authenticated %}
        <a 
            href="#" 
            class="text-white text-lg font-bold"
            onClick="document.getElementById('logoutform').submit()"
        >Logout</a>
        <form id="logoutform" method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <input type="hidden">
        </form>
    {% else %} 
        <a href="{% url 'login' %}" class="text-white text-lg font-bold">Login</a>
    {% endif %}

</nav>