{% extends 'base.html' %}


{% block title %}Impact Map{% endblock %}

{% block head %}

    <style>
      gmp-map {
        height: 100%;
      }
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <!-- NOTE: The API key is restricted by restricting valid ip addresses, see: https://cloud.google.com/docs/authentication/api-keys#console_3 -->    
    <!-- TODO: create a separate production API key -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&libraries=maps,marker"
      async
      defer
    ></script>

{% endblock %}

{% block content %}

<h1>Here comes the map...</h1>

<gmp-map center="57.1, -4.2" zoom="7" map-id="DEMO_MAP_ID" style="height: 700px">



  {% comment %} <gmp-advanced-marker
    position="55.464671060172485, -3.3530529887192944"
    title="Marker 1"
  ></gmp-advanced-marker>


  <gmp-advanced-marker
    position="57.1994136498289, -4.771256637504935"
    title="Marker 2"
  ></gmp-advanced-marker> {% endcomment %}

</gmp-map>

{{ gps_coordinates|json_script:"gps-json" }}

 

    

<script>

{% comment %} const parser = new DOMParser(); {% endcomment %}
const mapElement = document.querySelector('gmp-map');
async function initMap() {

    let jsondata = JSON.parse(document.getElementById('gps-json').textContent)
    console.log(jsondata)

    // Request needed libraries.
    const { Map } = await google.maps.importLibrary("maps");
    const { AdvancedMarkerElement, PinElement } = await google.maps.importLibrary("marker");
    // Each PinElement is paired with a marker to demonstrate setting each parameter.
    // Default marker with title text (no PinElement).


    jsondata.forEach((item, i) => {
        console.log('item', i, item);

        // TODO - set color according to the activity - e.g. tree planting green. Parhaps add an icon also?
        // for the icon see: https://developers.google.com/maps/documentation/javascript/advanced-markers/graphic-markers
        const thisPin = new PinElement({
            scale: 1.1,
            glyphColor: 'green',
            background: 'green',
            borderColor: 'green'
        });

        const thisMarker = new AdvancedMarkerElement({
            position: { lat: item["latitude"], lng: item["longitude"] },
            title: 'Title text for the marker at lat: 37.419, lng: -122.03',
        
        });
        thisMarker.append(thisPin);

        // TODO - add a link from the marker to the blog activity as an overlay
        // see: https://developers.google.com/maps/documentation/javascript/advanced-markers/overview

        mapElement.append(thisMarker);
    });

    


}

document.addEventListener('DOMContentLoaded', function () {
  initMap();
});

</script>

{% endblock %}